@font-face {
    font-family: "Inter";
    src: url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
}

h1 {
    text-align: center;
    padding: 20px 0 20px 0;
}

h2 {
    text-align: center;
    padding-bottom: 15px;
}

p {
    text-align: left;
    margin: 0 15% 0 15%;
}

body {
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/027/720/239/large/pbr-craft-c2.jpg?1592347899");
    background-size: 100%;
}

article {
    padding: 20px 0 20px 0;;
}

#background {
    background-color: rgba(175, 167, 167, 0.6);

    margin: 0 15% 0 15%;
}

.monster {
    background-color: rgba(104, 106, 110, 0.8);
    border-radius: 10px;
    margin: 20px 0 20px 0;
}

* {
    margin: 0;
    padding: 0%;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}