@font-face {
    font-family: "Inter";
    src: url("/assets/Inter.ttf") format("truetype");
}

nav {
    text-align: center;
    padding-top: 20px;
}

nav a:link {
    color: black;
    font-weight: 600;
}

nav a:hover {
    font-weight: 800;
}

h1 {
    text-align: center;
    padding: 20px 0 20px 0;
}

h2 {
    text-align: center;
    padding-bottom: 15px;
}

p {
    text-align: left;
    margin: 0 15% 5px 15%;
}

article {
    padding: 20px 0 20px 0;;
}

#monster-body {
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/027/720/239/large/pbr-craft-c2.jpg?1592347899");
    background-size: 100%;
}

#monster-background{
    background-color: rgba(175, 167, 167, 0.63);
    margin: 0 15% 0 15%;
}

#weapons-body {
    background-image: url("https://img.freepik.com/premium-photo/metal-plate-with-seamless-repeating-pattern-abstract-metallic-background_312563-39.jpg");
    background-size: 100%;
}

#weapons-background {
    background-color: rgba(175, 167, 167, 0.63);
    margin: 0 15% 0 15%;
}

.monster {
    background-color: rgba(65, 81, 55, 0.556);
    border-radius: 15%;
    margin: 0 12% 30px 12%;
    padding-bottom: 40px;
}

* {
    margin: 0;
    padding: 0%;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}